// colours
$default: #fff;
$text--dark: #000;
$primary: #031498;
$secondary: #5663bd;
$white: #fff;


// font styles
$body--text: 'Space Grotesk', sans-serif;
$heading--text: 'Space Grotesk', sans-serif;
$heading1--text: 'Space Grotesk', sans-serif;

// TbStethoscope
// TfiLocationPin
// TbCalendarTime
// TbCheck
// FaRegHospital
// FaRegAddressBook
// VscDeviceCameraVideo
